$--color-primary: #897cf2;

$--font-path: '~element-ui/lib/theme-chalk/fonts';
$--font-size-base: 16px;
$--font-size-small: 14px;
$--font-size-large: 20px;
$--size-base: 16px;

$--button-font-size: 20px;
$--button-font-weight: 500;
$--button-padding-vertical: 16px;
$--button-medium-font-size: 18px;
$--button-small-font-size: 16px;
$--button-mini-font-size: 13px;
